<div class="container">

  <div class="row">
    <div class="col-md-11">
      <h2>{{specialist?.speciality}} : {{specialist?.lastName}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>First Name:</strong> {{specialist?.firstName}}</div>
      <div><strong>Last Name:</strong> {{specialist?.lastName}}</div>
      <div><strong>Address:</strong> {{specialist?.address}}</div>
      <div><strong>Email:</strong> {{specialist?.email}}</div>
      <div><strong>Telephone:</strong> {{specialist?.telephone}}</div>
      <div><strong>Speciality:</strong> {{specialist?.speciality}}</div>
    </div>
  </div>
</div>